# https://bazel.build/docs/bazel-and-java#java-versions
build --java_language_version=11
build --tool_java_language_version=11

# https://bazel.build/docs/user-manual#java_runtime_version
build --java_runtime_version=remotejdk_11
build --tool_java_runtime_version=remotejdk_11
